#app{
    display:none;
    height:100vh;
    overflow:hidden;
}

.container{
    display:flex;
    height:100vh;
    overflow:hidden;
    position: relative;
    isolation: isolate;
}

/* CONTENT */
.content{
    flex:1;
    padding:24px;
    overflow-y:auto;
    overflow-x:hidden;
    position: relative;
    z-index: 1;
}

.section{
    display:none;
}

.section.active{
    display:block;
}