# =========================
# CONFIGURACIÓN LOCAL SENSIBLE
# =========================
php/config/env.php
php/config/mail_config.php

# =========================
# DEPENDENCIAS / HERRAMIENTAS LOCALES
# =========================
vendor/
composer.phar

# =========================
# ARCHIVOS TEMPORALES
# =========================
*.log
*.tmp

# =========================
# SISTEMA OPERATIVO
# =========================
.DS_Store
Thumbs.db