# =========================
# CONFIGURACIÓN LOCAL SENSIBLE
# =========================
php/config/env.php

# =========================
# ARCHIVOS TEMPORALES
# =========================
*.log
*.tmp

# =========================
# SISTEMA OPERATIVO
# =========================
.DS_Store
Thumbs.db