<!-- MODAL ALERTAS GANTT -->
<div id="modalAlertasGantt" class="modal-gantt-detalle">

    <div class="modal-gantt-card modal-alertas-card">

        <button 
            class="modal-gantt-cerrar"
            onclick="cerrarModalAlertasGantt()">
            ×
        </button>

        <div class="modal-gantt-header">
            <span class="modal-gantt-badge gantt-alerta-badge">
                Alertas
            </span>

            <h3 id="alertaGanttProducto">
                Producto
            </h3>

            <p id="alertaGanttSubtitulo">
                Información de alertas y reprogramación
            </p>
        </div>

        <div 
            id="contenedorAlertasGantt"
            class="contenedor-alertas-gantt">
        </div>

    </div>

</div>