/* =========================
   LOGO SIDEBAR IRONIX
========================= */

.logo-sidebar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 18px 18px 14px;
    margin-bottom: 20px;

    border-bottom: 1px solid rgba(255,255,255,0.06);
}

.logo-sidebar img {
    width: 100%;
    max-width: 220px;
    height: auto;
    object-fit: contain;
    display: block;

    transition: 0.3s ease;

    filter:
        drop-shadow(0 0 10px rgba(0,168,255,0.20))
        drop-shadow(0 0 25px rgba(0,168,255,0.12));
}
